*{
  font-family: 'Ubuntu', sans-serif;
}
.floatclear{
  float: none;
}
#menu{
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 30px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  left: 0px;
}
#menu #logo{
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}
#menu a{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: 0.4s;
}
#menu #menu-derecha{
  float: right;
  padding-right: 30px;
  padding-top: 5px;

}
#menu #menu-derecha a{
  float: right;
  background-color: #7EBAFF;
  border-right: solid 3px #3D97FF;
  border-bottom: solid 3px #3D97FF;
  border-radius: 5px;
  margin-left: 2px;
}
#menu #menu-derecha #login{
  background-color: #FF733D;
  border-right: solid 3px #FF543D;
  border-bottom: solid 3px #FF543D;
  border-radius: 5px;
}

#menu #menu-derecha a.active{
  background-color: #3D97FF;
}
#menu #menu-derecha #login.active{
  background-color: #FF543D;
}
#cuerpo{
  height: 2000px;
}
#pie{
  padding: 40px 10px;
  background-color: #f1f1f1;
  text-align: center;
  overflow: hidden;
}
#pie p{
  background-color: #b9b9b9;
  border-radius: 15px;
  width: 25%;
  margin-left: 37%;
  border-bottom: grey 2px solid;
  border-right: grey 2px solid;

  padding: 5px;
}
.social{
  width: 25px;
  height: 25px;
  transition: 0.4s linear;
  padding: 15px;
  border: #f1f1f1 solid 1px
}
#fb:hover{
  width: 40px;
  height: 40px;
  background-color: #47599370;
  border: #475993 5px solid;
  border-radius: 15px;
}
#in:hover{
  width: 40px;
  height: 40px;
  background-color: #c70d8e59;
  border: #c70d7c 5px solid;
  border-radius: 15px;
}
#tw:hover{
  width: 40px;
  height: 40px;
  background-color: #55adee59;
  border: #55adee 5px solid;
  border-radius: 15px;
}
