h1{
  text-align: center;
  color: #322c79;
}
h2{
  text-align: center;
  color: #322c79;
}
p{
  color: #59576d;

}
#infoAcademica .curso{
  margin-left: 2.5%;
  padding: 1%;
  padding-left: 1%;
  width: 28%;
  float: left;
  background-color: #f5f5f5;
  border-bottom: #322c79 3px solid;
  border-right: #322c79 3px solid;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#infoAcademica a{
  float: right;
  color: #322c79;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
}
